<!DOCTYPE html>
<html ng-app='app'>
	<head>
		<meta charset="utf-8">
		<title>Eric Pan</title>
		<base href="/">
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="bootstrap.css">
		<link rel="stylesheet" href="bootstrap-theme.css">
		<script src="angular/angular.js"></script>
	  <script src="angular-route/angular-route.js"></script>
  	<script src="angular-cookies/angular-cookies.js"></script>
		<script src="app.js"></script>

		<script src="controllers/homeController.js"></script>
	</head>
	<body>

	<div ng-view></div>

	<script type="text/javascript" src="bootstrap/jquery.min.js"></script>
  <script type="text/javascript" src="bootstrap/bootstrap.min.js"></script>
	<script src="myScripts.js"></script>
	</body>
</html>
